// <----Media Size Leptop ---->
@media (min-width:1024px) {

    .about-container {
        background: #f8ffff;
        height: 650px;

        .About-img img {

            width: auto;
            height: 600px;
            margin-left: 10%;
            border-radius: 15px;
        }

        .about-datails h1 {
            font-size: 4rem;
            font-weight: bolder;
            text-align: start;
            background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4766 79.69%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--color-primary)', endColorstr='var(--color-secondary)', GradientType=1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;

        }

        .about-datails p {

            font-size: 1.4rem;
            font-weight: 400;

        }

    }

    .about-datails h1 {
        font-size: 4rem;
        font-weight: bolder;
        text-align: start;
        background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4766 79.69%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--color-primary)', endColorstr='var(--color-secondary)', GradientType=1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;

    }

    .about-datails p {

        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 35px;

    }

    .about-datails img {
        width: 50px;
        height: 50px;
        margin-left: 15px;
        transition: .2s;
        margin-bottom: 30px;
    }

    .about-datails img:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

// <----media Size  Mobile ---->
@media (min-width:320px) and (max-width:426px) {
    .about-container {
        background: #f8ffff;

        .About-img img {
            margin-top: 25px;
            max-width: 100%;
            max-height: 50vh;
            border-radius: 10px;

        }

        .about-datails {

            margin-left: 15px;
        }

        .about-datails h1 {
            font-size: 3.2rem;
            font-weight: bolder;
            text-align: start;
            background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4766 79.69%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--color-primary)', endColorstr='var(--color-secondary)', GradientType=1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;

        }

        .about-datails p {

            font-size: 1.1rem;
            font-weight: 400;

        }

        .about-datails button {
            margin-left: 15px;
            background: rgb(30, 157, 255);
            color: white;
            padding: 5px 10px;
            font-size: 0.7rem;
            font-weight: 550;
            border-radius: 5px;
            border: none;

        }

        .about-datails button:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        .about-datails .rebtn {
            color: #ffff;
            text-decoration: none;
        }

        .about-datails img {
            width: 30px;
            height: 30px;
            margin-left: 15px;
            transition: .2s;
        }

        .about-datails img:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

    }

}

//------------- Media Size Tab----//

@media (min-width:426px) and (max-width:769px) {
    .about-container {
        background: #f8ffff;

        .About-img img {
            margin-top: 25px;
            max-width: 100%;
            max-height: 70vh;
        }

        .about-datails {

            margin-left: 15px;
        }

        .about-datails h1 {
            font-size: 3.2rem;
            font-weight: bolder;
            text-align: start;
            background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4766 79.69%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--color-primary)', endColorstr='var(--color-secondary)', GradientType=1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;

        }

        .about-datails p {

            font-size: 1.2rem;
            font-weight: 400;

        }

        .about-datails img {
            width: 40px;
            height: 40px;
            margin-left: 15px;
            transition: .2s;
        }

        .about-datails img:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

    }


}