.Navbar {
    // box-shadow: 2px 2px 5px #484545;
    background: #171515a0;
    padding-top: 4%;
    
    .Brand {
        font-size: 1.7rem;
        font-weight: 450;
        color: #fff;
    }

    .navlist a {
        font-weight: 500;
        color: #f0efef;
    }
}