.skills-container{
   
}

.skills-img img{
    
    width: auto;
    padding: 5px;
    height: 55px;
    margin-left: 6%;
    transition: .3s;
}
.skills-img img:hover{
    cursor:pointer;
    transform: scale(1.1);
}
@media (min-width:320px) and (max-width:769px) {
    .skills-img img{
        margin-top: 35px;
        margin: 0;
        
        width: auto;
        height: 45px;
        margin-left: 6%;
        transition: .3s;
    }
    .skills-img img:hover{
        cursor:pointer;
        transform: scale(1.1);
    }

    
}
